<!DOCTYPE html>
<html>
  <head>
    <title>OneWolf.com</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'one_wolf', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'one_wolf', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="vbox viewport">
    <%= yield %>
    <!--img src="http://www.geobotanica.ru/VEGET/tun1_l.jpg"/>
    <a href="http://www.geobotanica.ru/VEGET/tundra.html">Background Image Source</a>
    <img src="http://storyadventuresforkids.weebly.com/uploads/2/4/1/4/24142257/738140892.jpg"/>
    <a href="http://storyadventuresforkids.weebly.com/subarctic-climate.html">Background Image Source</a>
    <img src="http://www.marinebio.net/marinescience/04benthon/arcimg/arc4331.jpg"/>
    <a href="http://www.marinebio.net/marinescience/04benthon/arclife.htm">Background Image Source</a-->
  </body>
</html>
