@import '../math.scss';
@import 'palette.scss';
@import 'home.defs.scss';

@import url(http://fonts.googleapis.com/css?family=Raleway:400,100);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgcol;
  font-family: "Raleway";
  color: #ddd;
  a {
    color: #88f;
    &:visited {
      color: #c8f;
    }
    &:active {
      color: #f44;
    }
    &:hover {
      color: #f88;
    }
  }
}

h1 {
  text-align: center;
  font-size: 72px;
  font-weight: 100;
  color: #fff;
  margin-top: 50px;
}

.toolcontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: $toolcontainer-size;
  height: $toolcontainer-size;
  overflow: hidden;
  input {
    display: none;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 3px solid #844;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: $container-size;
  height: $container-size;
  overflow: hidden;
  input {
    display: none;
  }
}

.tool {
  width: $tool-size;
  height: $tool-size;
  border-radius: 50%;
  text-align: center;
  line-height: $tool-size;
  background-color: rgba(#ddd, .7);
  color: black;
  position: absolute;
  top: $toolcontainer-size/2 - $tool-size/2;
  left: 0;
  transform-origin: ($toolcontainer-size/2-2.5px) ($tool-size/2);
  visibility: visible;
  opacity: 0;
  transition: opacity .75s cubic-bezier(0, .62, .38, 1);
  &::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(#ddd, .7);
  }
}

@for $index from 0 to $num_tiles {
  .tool:nth-child(#{$index + 2}) {
    transform: rotate(360deg / $num_tiles * ($index+.5));
    p {
      transform: rotate(-360deg / $num_tiles * ($index+.5));
    }
  }
}

.piece {
  width: $piece-size;
  height: $piece-size;
  position: absolute;
  transform-origin: right bottom;
  right: $piece-size - 1px;
  bottom: $piece-size - 1px;
  opacity: 0;
  visibility: hidden;
  transition: all .75s cubic-bezier(0, .62, .38, 1);
  cursor: pointer;
  i {
    color: #fff;
    position: absolute;
    opacity: .8;
    font-size: $icon-size;
    bottom: $icon-bottom;
    right: $icon-right;
    /*transition: all .75s cubic-bezier(0, .62, .38, 1);*/
  }
  .tail {
    position: absolute;
    right: 0;
    bottom: 0;
    width: $icon-right;
    height: $icon-bottom;
    background-color: white;
    display: none;
  }
  &:hover {
    i {
      opacity: 1;
    }
  }
}

@for $index from 0 to $num_tiles {
  input:checked ~ .piece:nth-child(#{$index + 2}) {
    transform: rotate(360deg / $num_tiles * $index) skew($skew-angle);
    i {
      transform: translate($icon-right - $icon-round-right, $icon-bottom - $icon-round-bottom) skew(360deg / $num_tiles - 89deg) rotate(-360deg / $num_tiles * $index);
    }
    .tail {
      width: $icon-round-right;
      height: $icon-round-bottom;
    }
  }
}

input:checked ~ .piece {
  visibility: visible;
  opacity: 1;
}

$i: 0;
@while $i < $num_tiles {
  .piece:nth-child(#{$i + 2}) {
    background-color: nth($colors, $i + 1);
    &:hover {
      background-color: darken(nth($colors, $i + 1), 10%);
    }
  }
  $i: $i + 1;
}

.content {
  position: absolute;
  width: 100px;
  height: 100px;
  top: ( $container-size - 100px) / 2 - 7.5;
  left: ( $container-size - 100px) / 2 - 7.5;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .5);
  font-size: 20px;
  text-align: center;
  line-height: 100px;
  display: none;
}

.title {
  position: absolute;
  width: 100px;
  height: 100px;
  top: ( $dot-size - 100px) /2;
  left: ( $dot-size - 100px) /2;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .5);
  font-size: 20px;
  text-align: center;
  line-height: 100px;
}

.dot {
  font-family: initial;
  background: $dot-bgcol;
  width: $dot-size;
  height: $dot-size;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  cursor: pointer;
  font-size: 48px;
  text-align: center;
  line-height: $dot-size;
  color: rgba(0, 0, 0, .54);
  /*transition: all .75s cubic-bezier(0, 0, .38, 1);*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  #svglogo {
    transform: rotate(0deg);
    transition: all 1.5s cubic-bezier(.18, .94, .26, .99);
  }
  &:hover {
    /*color: #2196f3;*/
    color: $svglogo-col;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
}


/* opened dot styles */

input:checked ~ .dot {
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  line-height: $dot-size;
  #svglogo {
    transform: rotate(720deg);
  }
}

#svglogo {
  .circle {
    fill: $svglogo-col;
    stroke: $svglogo-circle-stroke;
    stroke-width: $svglogo-circle-stroke-width;
  }
  .ow {
    fill: none;
    stroke: $svglogo-ow-stroke;
    stroke-width: $svglogo-ow-stroke-width;
  }
}