@import '../math.scss';
@import 'palette.scss';
@import 'navigation.defs.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgcol;
  font-family: "Raleway";
  color: #ddd;
  a {
    color: #88f;
    &:visited {
      color: #c8f;
    }
    &:active {
      color: #f44;
    }
    &:hover {
      color: #f88;
    }
  }
}

form {
    padding: 1em;
    margin: .5em;
    background-color: $form-bgcol;
    border-radius: .5em;
    color: #333;
    display: block;
    &.hidden {
        display: none;
    }
    .message {
        visibility: hidden;
        &.ok {
            color: green;
            visibility: visible;
        }
        &.bad {
            color: red;
            visibility: visible;
        }
    }
}