<h1>Editing Wof Game Moderator Action</h1>

<%= render 'form', wof_game_moderator_action: @wof_game_moderator_action %>

<%= link_to 'Show', @wof_game_moderator_action %> |
<%= link_to 'Back', wof_game_moderator_actions_path %>
