<h1>Editing One Wolf Services Game</h1>

<%= render 'form', one_wolf_services_game: @one_wolf_services_game %>

<%= link_to 'Show', @one_wolf_services_game %> |
<%= link_to 'Back', one_wolf_services_games_path %>
